
<div>

  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <br/>
      <h1>Добредојдовте на Мој термин</h1>
      <br/><br/>
    </div>
  </section>
</div>
<main id="main">


  <section id="why-us" class="why-us">
    <div class="container">

      <div>
        <div class="col-lg-12 d-flex align-items-stretch">
          <div class="content">
            <h3>За мој термин</h3>
            <p>
              Министерството за здравство во непосредна соработка со здравствените установи иинституциите од сите
              сегменти на здравствената заштита, интензивно работи на процесот наинформатизација на здравството.
              Пред сите е поставена висока цел – да се воспостават автоматизирани процеси на работа воординациите од
              сите нивоа на здравствена заштита, здравствената администрација и аптеките.
            </p>
          </div>
        </div>
        <br/>
        <div class="col-lg-12 d-flex">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-12 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Нашата цел</h4>
                  <ul>
                    <li>Намалување на метежот и редиците на чекање во амбулантите во здравствените установи</li>
                    <li>Поквалитетна услуга и намалување на ризикот од погрешни стручни одлуки</li>
                    <li>Унифицирани и веродостојни бази на податоци</li>
                    <li>Формирање на детален распоред за прием на пациенти кај сите доктори</li>
                  </ul>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

      <br/><br/><br/>
    </div>
  </section>
</main>
</div>


